<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active"  href="" >Home </a>
          <a class="nav-item nav-link" routerLink="teacherLogin">Teacher's Login</a>
          <a class="nav-item nav-link" routerLink="studentLogin">Student's Login</a>
         
        </div>
      </div>
</nav>
<div class="bg-img">
  <div class="text" style="position: absolute;">
    <h2><span style="font-style: italic;">Quizzera </span>helps you to create<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and take quizzes </h2>
    <button class="btn" style="color: white; position: absolute;
    top: 100%;
    left: 40%; background-color:#212529;" routerLink="signUp">Get started</button>
  </div>
</div>


