<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"  routerLink="" >Home</a>
        <a class="nav-item nav-link"  routerLink="../signUp" >Don't have account? Sign up here <span class="sr-only">(current)</span></a>
        
        <!-- <a class="nav-item nav-link" routerLink="studentLogin">Student's Login</a> -->
       
      </div>
    </div>
</nav>
<ng-container>
  <section class="vh-100">
      <div class="container-fluid h-custom" >
        <div class="navbar-nav">
        </div>

        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="..\assets\Quiz_files\4-removebg-preview.png" style="max-width: 75%;max-height: 75%;" class="img-fluid"
              alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter a valid email address" #email />

              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Enter password" #password />
              </div>
              



             
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;"
                  (click)="onSignin(email.value,password.value);">Login</button>
                  <!-- <div *ngIf="errorMsg" style="color: red;">*{{ errorMsg }}</div> -->
                  <div *ngIf="errorMsg" class="alert alert-danger message_warning" style="margin: 10px;" role="alert">
                    <span class="closebtn" (click)="reload()">&times;</span> 
                    {{errorMsg}}
                  </div>
                
              </div>
              

            </form>
          </div>
        </div>
      </div>

  </section>
</ng-container>
<!-- <app-teacherafterlogin *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-teacherafterlogin> -->

<!-- <section class="vh-100">
  <div class="container-fluid h-custom" *ngIf="!isSignedIn" [hidden]="!signUp">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../assets/teacher-app-icon-with-long-shadow-vector-3748928.jpg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>

         Email input 
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" #email />

          </div>

          Password input
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password"
              #password />
          </div>
          <div class="form-outline mb-3">
            <input type="text" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter name" #name />
          </div>

          
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
              (click)="onSignup(email.value,password.value,name.value)">Register</button>
              <div *ngIf="errorMsg">{{ errorMsg }}</div>

            <button class="link-danger" (click)="signUp=!signUp">Login</button>

            {{signUp}}
          </div>

        </form>
      </div>
    </div>
  </div>

</section> -->

