[hidden] {
    display: none !important;
    visibility: hidden;
    max-height: 0;
  }
  .message_warning
  {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: fixed;
    margin: 10px;
    top: 0;
    left: 40%;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  